*{
  background-color:#FFFFFF;
  box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 25%;}


.logo{
    position: absolute;
    left: 13.44%;
    right: 74.71%;
    top: 0.56%;
    bottom: 98.59%;
    margin-top: 30px;
}
li, a {
    font-family: 'Graphik';
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
   
}


        
  
.nav_links li {
       list-style: none;
        display: inline-block;
        padding: 10px 20px;
        transition: all 0.3s ease 0s;
    }
    

   
.nav_links li a:hover{
        color: red;
    }
 
.nav_item  {
box-sizing: border-box;
font-family: 'Freight';
font-size: large;


background: #FFFFFF;
border: 1px solid #16131D;
width: 151px;
padding-top: 60px;
padding-bottom: 15px;
padding-right:15px;
padding-left: 15px;

}
h1{
    position: absolute;
left: 13.44%;
right: 32.19%;
top: 3.24%;
bottom: 92.36%;

font-family: 'Graphik';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 70px;
margin-top: 100px;

letter-spacing: -0.05em;

color: #16131D;
right: 70px;
}



.part1_gradient{
    background-image: url("images/Star.png"); 
    width: 180px;
    height: 180px;
    margin: 150px auto 0px auto;
    border: 10px solid white ;
    background-image: radial-gradient(
        #3B87F9);
    position: absolute;
    right: 250px;
    margin-top: -20px;
    background-color: 
    #3B87F9;
    filter: blur(70px);
    opacity: 0.5;
    position: absolute;
 }
.part1_img {
    position: relative;
    width: 450px;
    height: 500px;
    left: 440px;
    top: 160px;
    margin-left: 100px;
   
    transform: skewY(-6deg);
    
 }

 h2{
    position: absolute;
    width: 300px;
    height: 14px;
    left: 185px;
    top: 350px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 14px;
    
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #008BD1;
 }
.part1_line {
    height:4px;
    margin-top: 900px;
    border-width:0;
    color: blue;
    background-color:blue"
}
/*.star{
    opacity: 10;

    width: 180px;
    height: 180px;
    
   
    position: relative;
    right: 90px;
    margin-top: -20px;
   position: absolute;
}*/


